
NEXTAUTH_SECRET=your_secret_here
NEXTAUTH_URL=http://localhost:3000

MONGODB_URI=mongodb+srv://iamastrojd_db_user:b3iQ1AOnJnXdBCBf@jdweddings.ezok1ig.mongodb.net/?appName=jdweddings
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
